.container {
    margin: 10px;
}

input[type=text] {
    width: 400px;
    height: 32px;
    font-size: 18px;
    background-color: #E7E7E7;
    color: #5E5E5E;
    border: none;
    padding-left: 10px;
}

input:focus {
    outline: none;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
}

.table-borderless td {
    border: none;
    outline: none;
}

.table-borderless tr {
    font-size: 14px;
    color: #5E5E5E;
}

.favicon {
    width: 16px;
    height: 16px;
}
