/* Background Fade */
.bg-modal {
    display: none; 
    position: fixed; 
    z-index: 10000;  /* Display over top of everything else */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Header */
.bg-header {
    background-color: #E1E1E1;
    height: 48px;
    padding-right: 20px;
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.bg-header-items {
    color: #383838;
    width: 100%;
    position: relative;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    line-height: 48px;
}

/* Modal Content */
.bg-modal-content {
    background-color: #fefefe;
    margin: 20px auto; 
    padding: 0 0 10px 0;
    border: 0px;
    width: 30%;
    height: 40%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    min-height: 300px;
    min-width: 300px;
}

/* Close Button */
.bg-close {
    color: #383838;
    border: none;
    text-decoration: none;
    font-size: 24px; 
    float: right;
}

.bg-title {
    display: inline-block;
    color: #383838 !important;
    font-size: 24px; 
    text-decoration: none;
}

.bg-close:hover,
.bg-close:active,
.bg-close:focus {
    color: #FF1372 !important;
    cursor: pointer;
    text-decoration: none;
}

.bg-close:hover,
.bg-close:active { font-weight: bold; }

.bg-logo {
    float: left;
    margin-right: 12px;
}

.bg-textarea-container { 
    padding-top: 10px;
    width: 100%;
    height: 75%;
}

.bg-textarea { 
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
    box-sizing: border-box; 
    overflow: scroll;
    font-family: "Courier New", Courier, monospace !important; 
    font-size: 12px;
}

/* Highlighting */
.bg-mark {
    color: #000000;
    background-color: transparent;
}

.bg-0 { background-color: #D5F5E3; }
.bg-1 { background-color: #D6EAF8; }
.bg-2 { background-color: #FCF3CF; }
.bg-3 { background-color: #FAE5D3; }
.bg-4 { background-color: #FADBD8; }
.bg-5 { background-color: #E8DAEF; }

.bg-results {
    display: none;
    margin: auto;
    width: 90%;
    height: 100%;
    box-sizing: border-box; 
    overflow: scroll;
    font-family: "Courier New", Courier, monospace !important; 
    font-size: 12px;
	white-space: pre-wrap;
	word-wrap: break-word;
    color: #000000; 
}

/* Rating Legend */
.bg-legend {
    display: none;
    margin: 0 5px;
    padding: 2px;
    text-align: center;
}

.bg-legend-icon {
    background: transparent;
    border-radius: 0.2em;
    font-size: 14px;
    color: #383838;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em; 
  }

.bg-legend-0 { background: #D5F5E3; }
.bg-legend-1 { background: #D6EAF8; }
.bg-legend-2 { background: #FCF3CF; }
.bg-legend-3 { background: #FAE5D3; }
.bg-legend-4 { background: #FADBD8; }
.bg-legend-5 { background: #E8DAEF; }

.bg-back {
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.bg-back:hover,
.bg-back:active,
.bg-back:focus {
    color: #FF1372 !important;
    cursor: pointer;
    text-decoration: none;
}
